.devise-container {
  justify-content: center;
  margin: auto auto;
  width: 500px;
  height: 700px;
  padding: 30px 50px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 5px;

  h2 {
    font-weight: bold;
    font-style: normal;
    font-size: 43.7px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 27.3px;
    line-height: 32px;
    border-top: solid #6B758A thin;
    padding-top: 20px;
    margin-top: 30px;
  }

  label {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  }
}

.form-annotation {
  color: #6B758A;
  padding-top: 20px;

  a {
    line-height: 2.2;
  }
}

#login-img {
  background-image: asset-url('login-bg.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

