.devise-container {
  justify-content: center;
  margin: 60px auto;
  width: 500px;
  height: 600px;
  padding: 30px 50px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  border-radius: 5px;

  h2 {
    font-weight: bold;
    font-style: normal;
    font-size: 43.7px;
    justify-text: center;
  }
}


