<h1>Here are the available boyfriends</h1>
<% @boyfriends.each do |boyfriend| %>
  <ul>
  <li><%= link_to boyfriend.name, boyfriend_path(boyfriend) %></li>
  </ul>
  <% end %>
<%= link_to 'Add a Boyfriend', new_boyfriend_path%>
