.main-containerBoy {
  padding-top: 25px;
}

#imgBoy {
  background-image: linear-gradient(rgba(50,50,50,0.5), rgba(10,10,10,0.4)), asset-url('newBoy.jpg');
  height: 167vh;
  background-size: cover;
  background-position: center;
}
