.main-containerShow {
  h1 {
    text-align: center;
  };
  width: 85%;
  display: block;
  margin: 50px auto;
  background-color: rgb(255,255,255);
  padding: 40px;
  border-radius: 5px;
};

.details-flexbox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.detail-container {
  h1 {
    text-align: left;
  }
  h4 {
    text-align: left;
  }
  p {
    text-align: left;
  }
}

.card-product {
  overflow: hidden;
  height: 80px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-right: 20px;
  h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
  }
}
.card-product:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  }

.card-product img {
  height: 50%;
  margin-left: 5%;
}

.card-product p {
  font-size: 14px !important;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.flex_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
