.mapboxgl-popup {
  max-width: 100px;
    padding: 10px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

.map-text {
  color: #F56186
}

.map-text:hover {
  color: #F56299
}
