.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-trans {
  justify-content: space-between;
  background: transparent;
}

.navbar-trans .navbar-collapse {
  flex-grow: 0;
}

.navbar-trans .navbar-brand img {
  width: 45px;
  height: 40px;
}

.nav-btn {
  background-color: #FF5F85;
  padding-right: 20px;
  border-radius: 6px;
  font-weight: 400;
  opacity: 0.8 !important;
  transition: 0.5s !important;
  &:hover {
    opacity: 1 !important;
    transition: 0.5s !important;
  }
}

.nav-link {
  color: #FFFFFF !important;
  text-align: center !important;
}
.nav-login {
  width: 100px;
  border: solid 1px !important;;
  border-color: #FF5F85 !important;
}

.signup {
    width: 100px;
    color: #FF5F85 !important;;
    border: solid 1px !important;;
    border-color: #FF5F85 !important;
    background-color: none;
    border-radius: 6px;
    font-weight: 400;
    opacity: 0.8 !important;
    transition: 0.5s !important;
    margin-left: 20px !important;
    &:hover {
    opacity: 1 !important;
    transition: 0.5s !important;
    text-decoration: none !important;

  }

}

.nav-color {
	color: black !important;
  opacity: 0.8 !important;
	&:hover {
		transition: 0.7s;
    text-shadow: 0.1px 0.2px black;
    opacity: 1 !important;
	}
}

.logo {
	border: 1px solid #FF5F85;
  border-radius: 25%;
  }

.navbar-hide {
  transition: 0.5s;
  opacity: 0;
}

.navbar {
  transition: 0.5s;
}


