.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-trans {
  justify-content: space-between;
  background: transparent;
}

.navbar-trans .navbar-collapse {
  flex-grow: 0;
}

.navbar-trans .navbar-brand img {
  width: 40px;
}

.nav-color {
	color: #FF5F85 !important; //Um Bootstrap zu überschreiben
	&:hover {
		color: black !important;
		transition: 0.7s;
	}
}

.logo {
	border: 1px solid black;
  border-radius: 25%;
  padding: 1px;
  }